.App {
  text-align: center;
  display: flex;
}

.App .left, .App .right {
	margin-bottom: 100px;
	background-color: antiquewhite;
	padding: 40px;
	box-sizing: border-box;
	width: auto;
	border-radius: 5px;
	height: 222px;
	width: 312px;
	margin: 0px 20px;
}

.App .left .item-top {
	margin-bottom: 20px;
	border: 1px solid #000;
	padding: 10px;
}
.App .left .item-top .item:not(:last-child) {
	margin-bottom: 20px;
}
.App .left .item-top .item {
	display: flex;
	align-items: center;
}
.App .left .item-top .item span {
	margin-right: 10px;
	display: block;
	width: 100px;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
}
.App .left .item-top .item input {
	width: 100px;
	box-sizing: border-box;
	height: 30px;
	padding: 0 10px;
}

button {
	width: 80px;
	border-radius: 4px;
	border: 1px solid #000;
	outline: none;
	background-color: blueviolet;
	color:aliceblue;
	font-size: 14px;
	cursor: pointer;
	margin: 0 10px;
}

button:hover {
	background-color: #000;
	color: aliceblue;
}
button:active {
	background-color: blueviolet;
	color: aliceblue;
}
button:disabled {
	opacity: 0.5;
	cursor: no-drop;
	background-color: blueviolet;
}
button:disabled:hover {
	opacity: 0.5;
	cursor: no-drop;
}
.App .right .item-top {
	width: 232px;
	height: 82px;
	margin-bottom: 20px;
	border: 1px solid #000;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 54px;
	font-weight: 700;
	font-family: 'Courier New', Courier, monospace;
}